@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

.page {
    place-items: center;
    place-content: center;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
  }
