@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

.page {
    place-items: center;
    place-content: center;
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-size: 20pt;
  }

.ab {
  background-color: #FF0;
}

.header {
  font-size: 30pt;
  place-items: center;
  place-content: center;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  color:  #000;
}

.button {
  font-size: 20pt;
  text-align: left;
  margin: 1px, 20px, 1px, 5px;
  background-color: #000;
  color: #FF0;
  border: #FFF;
  border-radius: 25px;
  box-shadow: 0 0 10px #FFF;
}

.fulltask {
  font-size: 15pt;
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
  border: #FFF;
  border-radius: 50px;
  box-shadow: 0 0 25px #FFF;
  color: #FFF;
  background-color: #000;
}

.taskname {
  margin: 0 0 1px 0;
  padding: 2px 10px 2px 2px;
  box-shadow: 0 1 1px #FFF;
  border: #000;
  border-radius: 25px;
  color: #FF0;
  background-color: #000; 
}

.taskdesc {
  margin: 1px 0 0 0;
  padding: 2px 10px 2px 2px;
  box-shadow: 0 -1 1px #FFF;
  border: #000;
  border-radius: 25px;
  color: #0FF;
  background-color: #000; 
}

.taskimg {
  margin: 0 1px 0 0;
  padding: 2px 2px 2px 25px;
  box-shadow: -1 0 1px #FFF;
  border: #000;
  border-radius: 25px;
  background-color: #000; 
}

.namechange {
  font-size: 18pt;
  color: #FF0;
}

.descchange {
  font-size: 18pt;
  color: #0FF;
}